
body{
  font-family: "M PLUS Rounded 1c", sans-serif;
}

h1{
  font-weight: normal;
}

.container{
  display: block;
  text-align: center;
}

.equal{
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em 1em;
  margin: 25px 0;
  border-top: solid 0px;
  border-bottom: solid 0px;
  border-left: solid 4px  #6495ed;
  border-right: solid 4px   #6495ed;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #e0ffff;
  cursor: pointer;
  transition: .5s;
}

.equal:hover{
  background:  #6495ed;
  color: #fff;
}